examples/android/*/bin
examples/android/*/gen
core/contrib/bindings/android/bin/
core/contrib/bindings/android/gen/
core/contrib/bindings/java/bin/
build/
package/
installer/umundo-*
installer/*html
docs/html/
.DS_Store*
examples/csharp/umundo-pingpong/bin/
examples/csharp/umundo-pingpong/obj/
examples/android/umundo-pingpong/libs/umundo.jar
examples/android/umundo-pingpong/libs/armeabi/libumundoNativeJava.so
*.class

s11n/test/java/bin*
examples/csharp/umundo-pingpong/umundo-pingpong/bin*
examples/csharp/umundo-pingpong/umundo-pingpong/obj*

